/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #444;
    background-color: #222;
    color: white;
    font-size: 16px;
}

button {
    cursor: pointer;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.message-container, .register-container, .login-container {
    width: 300px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
}

#messages-container {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.message {
    background-color: #444;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
